ESP-Code/.pio
ESP-Code/.vscode/.browse.c_cpp.db*
ESP-Code/.vscode/c_cpp_properties.json
ESP-Code/.vscode/launch.json
ESP-Code/.vscode/ipch

final-project/.DS_Store
final-project/node_modules
final-project//dist


# local env files
final-project/.env.local
final-project/.env.*.local

# Log files
final-project/npm-debug.log*
final-project/yarn-debug.log*
final-project/yarn-error.log*
final-project/pnpm-debug.log*

# Editor directories and files
final-project/.idea
final-project/.vscode
final-project/*.suo
final-project/*.ntvs*
final-project/*.njsproj
final-project/*.sln
final-project/*.sw?
